@import "../components/search-hieroglyphs/search-hieroglyphs.css";
@import "colors.css";
@import "typography.css";
@import "hieroglyphs.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/oldlinenpaper-background.jpg');
  background-position: fixed;
  background-size: cover;
}

body > header {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 1em;
  border-block-end: 1px solid var(--papyrus-800);
  box-shadow: -3px 4px 4px var(--papyrus-900);
}


text {
  font-family: var(--display-font);
  fill: var(--maroon-800);
  text-shadow: -2px 2px 1px var(--papyrus-800);
}

svg tspan {
  font-size: small;
  fill: var(--papyrus-900);
  height: 100%;
  text-shadow: none;
}

svg {
  width: 100%;
}

body > header h1 {
  flex-grow: 1;
  /* background-image: url('../images/Y3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1.4em; */
  margin: 0;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {

  body > header h1 .hieroglyph,
  body > header h1 {
    font-size: 2rem;
  }

  body > header {
    display: grid;
  }

  input[type="search"]::placeholder {
    text-align: start;
    font-size: 1rem;
  }
}

body > header form {
  display: grid;
  flex-grow: 1;
}



body > header form input {
  display: grid;
  flex-grow: 1;
  align-self: center;
  font-size: 2rem;
  padding: .4rem;
}



body > header form input::placeholder {
  text-align: right;
}

body>main {
  background-image: radial-gradient(circle at 0% 50%,
      var(--papyrus-100) 0%,
      var(--papyrus-150) 100%);
  border: 1px solid var(--papyrus-150);
  background-attachment: fixed;
  box-shadow: -3px 4px 4px var(--papyrus-900);
  padding: 2rem;
  margin: 1rem;
}