@import "../components/search-hieroglyphs/search-hieroglyphs.css";
@import "../components/nav-bar/nav-bar.css";
@import "colors.css";
@import "typography.css";
@import "hieroglyphs.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/oldlinenpaper-background.jpg');
  background-position: fixed;
  background-size: cover;
  max-width: 100%;
}

#glyphical-header {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  border-block-end: 1px solid var(--papyrus-800);
  box-shadow: -3px 4px 4px var(--papyrus-900);
  padding: 0 1em;

  & form {
    display: grid;
    flex-grow: 1;
    align-content: center;

    & input[type=search] {
      font-size: 2rem;
    }
  }


  & nav a {
    color: white;
    text-decoration: none;
  }

  & h1 {
    /*! flex-grow: 1; */
    margin: 0;
    display: flex;
    align-items: center;
  }


  @media (max-width: 768px) {
    & form {
      display: flex;
      margin: 0;
      padding: .2em;

      & input[type="search"] {
        font-size: 1rem;
      }
    }

    & h1 .hieroglyph {
      font-size: 2rem;
    }

    & h1 {
      font-size: 1rem;
    }

    & input[type="search"] {
      flex: 1;
    }

    & input[type="search"]::placeholder {
      text-align: start;
      font-size: 1rem;
    }
  }

}