@import "../components/search-hieroglyphs/search-hieroglyphs.css";
@import "../components/nav-bar/nav-bar.css";
@import "colors.css";
@import "typography.css";
@import "hieroglyphs.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/oldlinenpaper-background.jpg');
  background-position: fixed;
  background-size: cover;
  max-width: 100%;
  
  & #glyphical-header {
    display: grid;
    grid-template:
      "nav nav"
      "logo search"
    / auto 1fr;
    gap: 1em;
    justify-content: space-between;
    border-block-end: 1px solid var(--papyrus-800);
    box-shadow: -3px 4px 4px var(--papyrus-900);
    padding-bottom: 1em;

    & form {
      display: grid;
      flex-grow: 1;
      margin: 0;
      padding: 0;
    }
    
    
  & nav a {
    color:white;
    text-decoration: none;
  }

  &  h1 {
    flex-grow: 1;
    margin: 0;
    display: flex;
    align-items: center;
  }


    @media (max-width: 768px) {
      & form {
        display: flex;
        /* flex-grow: 1; */
        margin: 0;
        padding: 0;
      }
      
      & h1 .hieroglyph {
        font-size: 2rem;
      }

      & h1 {
        font-size: 1rem;
      }

      & {
        display: grid;
      }

      & input[type="search"]::placeholder {
        text-align: start;
        font-size: 1rem;
      }
    }

    nav-bar {
      grid-area: nav;
      nav {
        display: flex;
        justify-content: center;
        gap: 4em;
        background: var(--maroon-850);

        a {
          color:var(--papyrus-100);
          text-decoration: none;
          ;

        }
      }
    }
  }
  
  
}


body #glyphical-header form input {
  display: grid;
  flex-grow: 1;
  align-self: center;
  font-size: 2rem;
  padding: .4rem;
}



body #glyphical-header form input::placeholder {
  text-align: right;
}
