@import url(../../css/glyphical.css);
category-chip {
  display: inline-grid;
  aspect-ratio: 2/3;
  justify-items:center;
  background:hsl(0, 0%, 93.3%);
  color: var(--papyrus-850);
  font-weight: normal;
  border:1px solid;
  padding:.2em;
  border-radius: 3px;
  font-family: var(--sans-serif);
  justify-content: center;
  
  
  .tooltip {
    display: none;
    background-color: white;
    position: fixed;
    pointer-events: none;
  }
  
  &:hover  {
    cursor: help;
    .tooltip {
      display: inline-block;
      width: 10em;;
      font-size: small;
      border: 1px solid;
      padding: .5em;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    }
  }

  .category-chip-symbol {
    font-size: 2rem;
  }
}
