transliteration-editor {
  display: grid;
  max-height: 100%;
  grid-template: 
    "select-from" auto
    "input-textarea" 1fr
    "cheatsheet" auto
    "select-to" auto
    "output-textarea" 1fr
    / 1fr;
  /* gap: 1em; */

  select {
    margin: .2em 1em;
    justify-self: start;
  }

  textarea {
    font-size: large;
    font-family: Gentium Basic;
    padding: 1em;

    &.input-textarea {
      grid-area: input-textarea;
    }
    &.output-textarea {
      grid-area: output-textarea;
    }
  }

  div.cheatsheet {
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
    grid-area: cheatsheet;

    kbd {
      border-radius: 5px;

      border: 1px solid #cfcfcf;
      padding: 0 .2em;
      font-family: Fira Mono, monospace;
      font-size: small;

      &.from {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
        background: #efefef;
      }

      &.to {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: white;
      }
    }
  }
}
