* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin:0;
  overflow-y: scroll;
}

#game-container {
  height: 100%;
  background-image: url('egyptian-scene.webp');
  background-size: cover;
  display: grid;
  grid-template-rows: 1fr auto auto auto;
  justify-content: center;

  #message-bar {
    background: white;
  }

  #game-controls {
    background: white;
  }

  #score-display {
    background: white;
  }

  #birds {
    position: relative;
    .hieroglyph {
      display: grid;
      border-radius: 50%;
      aspect-ratio: 1;
      width: 4rem;
      height: 4rem;
      place-content: center;
      background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);

      position: absolute;
      font-size: 2em; /* Adjust size as needed */
      cursor: pointer;
      animation: flyAcross 10s linear infinite;
    }
    
    @keyframes flyAcross {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    
    /* Example for random starting positions */
    .hieroglyph:nth-child(1) {
      top: 10%;
    }
    .hieroglyph:nth-child(2) {
      top: 30%;
    }
    .hieroglyph:nth-child(3) {
      top: 50%;
    }
  }
}

