deploy.sh
exclude-from-deploy.txt
.DS_Store
local/
routing-delete/
data/determinatives/images

UnicodeData.txt
temples/hibis/Garis Davies 1953 - Vol. iii The Temple of Hibis in El Khārgeh Oasis.pdf
coptic/corpus/I-sette-dormienti-di-Efeso.pdf
todo.md
coptic/lambdin/index-ocr/1760106/1a/0001_5b.png
coptic/lambdin/index-ocr/1760106/1a/0002_5a.png
coptic/lambdin/index-ocr/1760106/1a/0003_4b.png
coptic/lambdin/index-ocr/1760106/1a/0004_4a.png
coptic/lambdin/index-ocr/1760106/1a/0005_3b.png
coptic/lambdin/index-ocr/1760106/1a/0006_3a.png
coptic/lambdin/index-ocr/1760106/1a/0007_2b.png
coptic/lambdin/index-ocr/1760106/1a/0008_2a.png
coptic/lambdin/index-ocr/1760106/1a/0009_1b.png
coptic/lambdin/index-ocr/1760106/1a/0010_1a.png
coptic/lambdin/index-ocr/1760106/1a/index.txt
coptic/lambdin/index-ocr/1760106/1a/metadata.xml
coptic/lambdin/index-ocr/1760106/1a/mets.xml
coptic/lambdin/index-ocr/1760106/1a/transliterate-index.js
coptic/lambdin/index-ocr/1760106/1a/txt/0001_5b.txt
coptic/lambdin/index-ocr/1760106/1a/txt/0002_5a.txt
coptic/lambdin/index-ocr/1760106/1a/txt/0003_4b.txt
coptic/lambdin/index-ocr/1760106/1a/txt/0004_4a.txt
coptic/lambdin/index-ocr/1760106/1a/txt/0005_3b.txt
coptic/lambdin/index-ocr/1760106/1a/txt/0006_3a.txt
coptic/lambdin/index-ocr/1760106/1a/txt/0007_2b.txt
coptic/lambdin/index-ocr/1760106/1a/txt/0008_2a.txt
coptic/lambdin/index-ocr/1760106/1a/txt/0009_1b.txt
coptic/lambdin/index-ocr/1760106/1a/txt/0010_1a.txt
