@import url("reset.css");
@import url("colors.css");
@import url("typography.css");

* {
  font-size: 20px;
  color: var(--body-text-color);
  text-align: left;
}


#language_name {
  color: var(--coptic-color);
}

body {
  background: var(--background-color);

  background: url(../images/vellum2.png);
  background-size: 200px;

  font-size: 20px;
  font-family: var(--body-font), monospace;
  margin: 20px;
  padding: 0;

  line-height: var(--body-line-height);

  @media screen and (min-width: 2000px) {
    display: grid;
    grid-template-columns: [page-start] 1fr [content-start] 80vw [content-end] 1fr [page-end];
    grid-template-rows: [nav-start] auto [nav-end header-start] auto [header-end main-start] 1fr [main-end footer-start] auto [footer-end];

  }


  footer#lesson-footer, 
  header#lesson-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;


    nav#lesson-nav {
      border: 5px solid fuchsia;
      display: contents;
      grid-row: 1;
      border: 1px solid;
      justify-content: space-between;
      font-size: 24px;

      a {
        text-align: center;
        text-decoration: none;
        padding: 1em;
        font-size: 80%;
      }

      a:not([href]) {
        padding: 0;
      }


      #previous {

        background: url(../images/deer-left.png) no-repeat bottom right;
        background-size: contain;
        padding-inline-end: 5rem;

        grid-row: 1;
        grid-column: 1;
        padding-inline-start: 5rem;
      }

      #forward {
        background: url(../images/deer-right.png) no-repeat center left;
        background-size: contain;
        padding-inline-start: 5rem;

        grid-row: 1;
        grid-column: 3;
        padding-inline-end: 5rem;
      }
    }

    
    button#toggle-search-button {
      position: fixed;
      top: 1em;
      right: 1em;
    }
  


    h1 {
      grid-column: 2;
      color: var(--coptic-color);
      font-size: larger;
    }
  }

  main.main-lesson-content {
    grid-column: content;
    grid-row: main;
    margin-top: 1em;
    padding: 1em;
    background: var(--background-color);
    max-width: calc(2 * 25em);
    margin-inline: auto;

    article {

      &:not(:first-of-type) h3 {
        margin-top: 4em;
      }

      h3 {
        /* display: inline-block; */
        padding: .25em;
        font-family: system-ui;
        font-size: 1.2rem;
        border-block-end: 1px solid lightgray;

        .c {}

        +p {
          display: inline;
        }

                

      }

      p {
        /* text-align: justify; */
        padding-top: 10px;
      }

      p.indented {
        text-indent: 1em;
        margin-top: 2rem;
      }

      table {
        /* margin: 0 auto; */
        /* border-left: 4px solid #efefef; */
        /* width: 50%; */
        table-layout: fixed;
        padding: 1em;
        /* margin-left: 5em;
        margin-bottom: 20px;
        max-width: calc(100% - 20px); */


        &.no-wrap tr td:first-child {
          white-space: nowrap;
          vertical-align: top;
        }

        th {
          text-decoration: underline;
        }
      }


    }

    .end-vocabulary {
      background: var(--background-color);
      padding: 0px 10px;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 20px;


      ul.vocabulary {
        list-style-type: none;
        padding-left: 0;
      }

      .vocabulary li+li {
        margin-top: .5em;
      }
    }


    #exercises {
      details > summary {
        list-style: none;
        &:hover {
          cursor: pointer;
        }
      }
      ol:has(ol){
        list-style-type: upper-alpha;
      }
    }

    .end-exercises {
      ol.exercises {
        margin-bottom: 0px;

        >ul {
          list-style-type: none;
          padding-left: 0;
        }

        >li>ol>li {

          position: relative;
          top: -21px;
        }

        >li>ol>li {
          padding-bottom: 20px;
        }

        &.has-subsection>li {
          list-style-type: upper-alpha;
        }

        ol.abc {
          list-style-type: lower-alpha;
        }

      }

      .exercises li+li {
        margin-top: 1em;
      }

      .exercises li table {
        margin-bottom: 0;
      }

      .exercises.has-subsection>li>ol>li>ul>li+li {
        margin-top: 0;
      }
    }

    th+th,
    td+td {
      padding-left: .5em;
    }

    li table:first-child {
      padding-top: 2em;
    }

    :is(h2,h3){
      .top-link {
        display: none;
      }
      &:before {
        content: '#';
        display: inline-block;
        opacity: 0;
        color:gray;
        width:1.5ch;
        margin-inline-start: -1.5ch;
      }
      &:hover {
        cursor: pointer;
        &:before {
          opacity: 1;
        }
        .top-link {
          display:inline;
          color:gray;
          font-size: x-large;
          &:hover {
            color: maroon;
          }
          text-decoration: none;
          margin-inline-start: 1em;
          align-self: center;
        }
      }
    }
  }
}

.c {
  color: var(--coptic-color);
  font-size: 1.4rem;

}

.gk {
  color: steelblue;
}

.c,
.gk {
  font-family: var(--coptic-font);
  letter-spacing: 1.4px;
}

#alphabet {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;

  li {
    list-style-type: none;
    border: 1px solid;
    font-size: 1.5em;
    text-align: center;
  }

  .c {
    display: block;
    font-size: 2em;
  }

  td {
    text-align: left;
    font-size: 2em;
  }

  .c {
    /* text-align: right; */
    padding-left: 60px;
    font-family: "FreeSerifPishoi", "MPH 2B Damase";
  }

}


#lambdin-table-of-contents {
  header {
    background: url('../images/swirl-star-small.png') no-repeat left center;

    background-size: contain;
  }
}


#chapters {
  /* background: rgba(231, 124, 432, 0.2); */

  ul {
    /* list-style-type: none;
    margin: 0;
    padding: 10px; */
  }

  li {
    /* font-size: .8em; */
  }

  a {
    text-decoration: none;
    color: white;
    display: block;
  }
}

#toc {

  li,
  #abbr li {
    border-bottom: 1px dotted #000;
  }

  >li:nth-child(5),
  #abbr>li:nth-child(5) {
    border: none;
  }

  li span+span,
  #abbr li span+span {
    float: right;
  }
}


#language_name {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--coptic-color);
  text-shadow: -2px 1px 0px hsl(0 99% 0% / 0.9);
  display: grid;
  text-align: center;
}


figure.two-column {
  display: flex;
  gap: 1em;
}