@import url("reset.css"); 
@import url("colors.css");
@import url("typography.css");

* {
  font-size: 20px;
  color: var(--body-text-color);
  text-align: left;
}

body {
  background: var(--background-color);

  background: url(../images/vellum2.png);
  background-size: 200px;

  font-size: 20px;
  font-family: Inconsolata, monospace;
  margin: 20px;
  padding: 0;

  @media screen and (min-width: 2000px){
    display: grid;
    grid-template-columns: [page-start] 1fr [content-start] 80vw [content-end] 1fr [page-end];
    grid-template-rows: [nav-start] auto [nav-end header-start] auto [header-end main-start] 1fr [main-end footer-start] auto [footer-end];
  }

  
  header#lesson-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;

  
    nav#lesson-nav {
      border:5px solid fuchsia;
      display: contents;
      grid-row: 1;
      border: 1px solid;
      justify-content: space-between;
      font-size: 24px;
    
      a {
        text-align: center;
        text-decoration: none;
        padding: 1em;
        font-size: 80%;
      }
    
      a:not([href]) {
        padding: 0;
      }

      #previous {
        background: url(../images/deer-left.png) no-repeat center left;
        background-size:contain;
        grid-row: 1;
        grid-column: 1;
        padding-inline-start: 5rem;
      }
      
      #forward {
        background: url(../images/deer-right.png) no-repeat center right;
        background-size:contain;
        grid-row: 1;
        grid-column: 3;
        padding-inline-end: 5rem;
      }
    }

    h1 {
      grid-column: 2;
      color:var(--coptic-color);
      font-size: larger;
    }
  }

  main {
    grid-column: content;
    grid-row: main;
    margin-top: 1em;
    padding:1em;
    background: var(--background-color);
    max-width: calc(2 * 25em);
    margin-inline: auto;

    h2,
    h3 {
      text-align: center;
      font-weight: normal;
    }

    p {
      /* text-align: justify; */
      padding-top: 10px;
    }

    p.indented {
      text-indent: 1em;
    }

    table {
      /* margin: 0 auto; */
      border-left: 4px solid #efefef;
      /* width: 50%; */
      table-layout: fixed;
      padding:1em;
      /* margin-left: 5em;
      margin-bottom: 20px;
      max-width: calc(100% - 20px); */
    }


    table.no-wrap tr td:first-child {
      white-space: nowrap;
      vertical-align: top;
    }

    th {
      text-decoration: underline;
    }

    li::marker {
      background: lightgreen;
    }
    

    .end-vocabulary {
      background: var(--background-color);
      padding: 0px 10px;
      margin-top: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 20px;
    }

    ol {
      margin-block-start: .5em !important;
      margin-block-end: .5em !important;
    }

    th+th,
    td+td {
      padding-left: .5em;
    }

    li table:first-child {
      padding-top: 2em;
    }
  }
}

.c {
  color: var(--coptic-color);
}

.gk {
  color: steelblue;
}

.c,
.gk {
  font-family: Antinoou, Antinoou1, "MPH 2B Damase";
  letter-spacing: 1px;
}

#alphabet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 1em;

  li {
    list-style-type: none;
    border: 1px solid;
    font-size: 1.5em;
    text-align: center;
  }

  .c {
    display: block;
    font-size: 2em;
  }

  td {
    text-align: left;
    font-size: 2em;
  }

  .c {
    text-align: right;
    padding-left: 60px;
    font-family: "FreeSerifPishoi", "MPH 2B Damase";
  }

}
 

#lambdin-table-of-contents {
  header {
    background: url('../images/swirl-star-small.png') no-repeat left center;

    background-size: contain;
  }
}


#chapters {
  /* background: rgba(231, 124, 432, 0.2); */
}

#chapters ul {
  /* list-style-type: none;
  margin: 0;
  padding: 10px; */
}

#chapters li {
  /* font-size: .8em; */
}

#chapters a {
  text-decoration: none;
  color: white;
  display: block;
}

#toc li,
#abbr li {
  border-bottom: 1px dotted #000;
}

#toc>li:nth-child(5),
#abbr>li:nth-child(5) {
  border: none;
}

#toc li span+span,
#abbr li span+span {
  float: right;
}

ol.exercises {
  margin-bottom: 0px;
}

ol.exercises ul {
  list-style-type: none;
  padding-left: 0;
}

ol.exercises>li>ol>li {

  position: relative;
  top: -21px;
}

ol.exercises>li>ol>li {
  padding-bottom: 20px;
}

ol.exercises.has-subsection>li {
  list-style-type: upper-alpha;
}

ol.abc {
  list-style-type: lower-alpha;
}

ul.vocabulary {
  list-style-type: none;
  padding-left: 0;
}

.vocabulary li+li {
  margin-top: .5em;
}

.exercises li+li {
  margin-top: 1em;
}

.exercises li table {
  margin-bottom: 0;
}

.exercises.has-subsection>li>ol>li>ul>li+li {
  margin-top: 0;
}

.h {
  color: #bdc1c6 !important;
  background-color: var(--background-color);
}


.end-exercises {
  /* display: none; */
  /* background: #000; */
  /* outline: 1px solid rgb(77, 46, 0); */
  padding-top: 10px;
}


#language_name {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--coptic-color);
  text-shadow: -2px 1px 0px hsl(0 99% 0% / 0.9);
  display: grid;
  text-align: center;
}

#lessons {
  margin-top: 1em;
}

#language_name {
  color: var(--coptic-color);
}

#lessons a {
  text-decoration: none;
  line-height: 1.5;
}

#lessons a:hover {
  text-decoration: underline;
  /* 1px solid var(--coptic-color); */
}
