nav-bar {
  grid-area: nav;

  & nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 2em;
    background: var(--maroon-800);
    box-shadow: inset 0 -10px 10px -10px var(--maroon-850);
    border-bottom: 1px solid var(--maroon-950);
    
    & a {
      color: var(--maroon-300);
      &:hover {
        color: white;
      }
      text-decoration: none;
      text-transform: uppercase;
      font-variant: small-caps;
      letter-spacing: 2px;
      font-size: .8rem;
      text-shadow: -1px 1px 0 rgb(0 0 0 / .5)
    }
  }
}