<!doctype html>
<html lang="en">
<head>  
  <title>interval-display</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="interval-display.css">

</head>
<body>

    <interval-display duration=2000 src="../../../games/practice-alphabet/graded-coptic-alphabet.json"></interval-display>  

<script type="module">
import {IntervalDisplay} from './IntervalDisplay.js'

window.IntervalDisplay = document.querySelector('interval-display')
</script>

</body>
</html>
