web-link {
  display: grid;
  grid-template: 
    "link description  tags" auto 
    "link url          tags" auto 
  /  1fr  3fr 2fr;
  align-items: baseline;
  gap: 1em;
  margin-bottom: 2em;

  .link {
    grid-area: link;
    font-family: var(--condensed-font-family);
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--maroon-650);
    &:hover {
      text-decoration: underline;
    }
  }

  .url {
    grid-area: url;
    font-size: .8rem;
    font-family: var(--condensed-font-family);
    color: var(--papyrus-900);
  }

  ul.tags {
    grid-area: tags;
    display: flex;
    flex-wrap: wrap;
    gap: .2em .4em ;
    padding:0;
    margin:0;
    list-style: none;

    li {
      background-color: var(--maroon-150);
      /* border: 1px solid var(--maroon-900); */
      border-radius: 3px;
      padding:3px;
      font-size: .8rem;
      &:before {
        content: '#';
        color: var(--maroon-950);
        font-family: var(--sans-serif-font-family);
        opacity: .2;
      }
      button.tag {
        background-color: transparent;
        font-family: var(--condensed-font-family);
        color: var(--maroon-950);
        border:none;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .description {
    grid-area: description;
    font-size: .8rem;
    font-style: italic;
  }
}
