@import "../web-link/web-link.css";
@import "../../css/glyphical.css";

web-link-list {
  display: block;
  max-width: 800px;
  margin: auto;

  input[type="search"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  dialog.add-link-dialog {
    height: 80vh;
    width: 80vw;
    form {
      display: grid;
      gap: 1em;
    }
  }

  .link-list {
    list-style: none;
    padding: 0;
  }



}
